---

// IMPORT ASTRO COMPONENTS
import DropdownItems from "@/components/common/header/nav-items/dropdown-items/index.astro"
import NavItems from "@/components/common/header/nav-items/index.astro"

// IMPORT ASTRO ATOMS
import ButtonAccent from "@/atoms-diksha/buttons/accent/index.astro"
import HeadingFiveLg from "@/atoms-diksha/headings/five/lg/index.astro"
import Link from "@/atoms/links/index.astro"
import Picture from "@/atoms/picture/internal/index.astro"

//GET ASTRO PROPS
const { 
    
    nav,
    services

} = Astro.props

---

<header class="sticky top-0 z-10 bg-white hidden xl:flex items-center justify-between">
    <div class="h-10 w-auto aspect-auto">
        <Link 
            aria_label="The Media Captain"
            href="/" 
        >
            <Picture 
                alternative_text="logo"
                source="/logo/icon-name-logo.png" 
            />
        </Link>
    </div>
    <div class="flex items-center gap-8">
        <nav class="flex justify-center gap-8">
            {   

                nav.map( ( item ) => {

                    if ( item.title === "Reviews" ) {

                        return (

                            <HeadingFiveLg>{ item.title }</HeadingFiveLg>

                        )

                    }

                    if ( item.title === "Services" ) {

                        return (

                            <div class="group relative">
                                <NavItems 
                                    item={ item } 
                                    link="#" 
                                />
                                {/* services drop down  */}
                            </div>

                        ) 

                    }

                    return (

                        <div class="group relative">
                            <NavItems 
                                item={ item } 
                                link="#" 
                            />
                            <div class="absolute top-10 w-64 flex-col gap-4 text-black bg-white py-2 px-8 justify-around hidden group-hover:flex">
                                {

                                    item.dropdown.map( ( menuItem ) => (

                                        <DropdownItems 
                                            link="#" 
                                            menuItem={ menuItem } 
                                        />

                                    ))

                                }
                            </div>
                        </div>

                    );

                })

            }
        </nav>              
        <Link 
            aria_label="Contact Us"
            source="/" 
        >
            <ButtonAccent>Contact us</ButtonAccent>
        </Link>
    </div>
</header>
