<a href="">
    <img 
        src="https://www.themediacaptain.com/wp-content/uploads/thegem-logos/logo_24606ebe2720d118674766ffc15347ff_2x.png" 
        alt="The Media Captain"
        class="h-8 lg:h-10 w-auto"
    />
</a>
