---

//IMPORT ASTRO ATOMS
import ButtonBlue from "@/atoms-diksha/buttons/blue/index.astro"
import HeadingSixLightBlue from "@/atoms-diksha/headings/six/light/blue/index.astro"
import HeadingSixLightGrey from "@/atoms-diksha/headings/six/light/grey/index.astro"
import Link from "@/atoms/links/index.astro"
import Picture from "@/atoms/picture/internal/index.astro"

---

<div class="bg-white p-6 w-72 h-52 relative flex items-center justify-center">
	<div class="absolute top-6 right-0">
		<div class="size-3">
			<Picture 
				source="/icons/google-logo.svg" 
				alternative_text="Google Icon" 
			/>
		</div>
	</div>
	<div class="flex items-center gap-2">
		<div class="h-16">
			<Picture 
				source="/icons/storefront.svg" 
				alternative_text="Storefront Icon" 
			/>
		</div>
		<div class="flex flex-col gap-1">
			<HeadingSixLightBlue>Excellent</HeadingSixLightBlue>
			<HeadingSixLightBlue>The Media Captain</HeadingSixLightBlue>
			<div class="flex items-center">
				<span class="text-orange-400 text-xl font-geomanist_light mr-1">4.9</span>
				{
					Array(5).fill(0).map(() => (
						<div class="flex space-x-1">
							<span class="text-orange-400 material-symbols-rounded">star</span>
						</div>
					))
				}
			</div>
			<HeadingSixLightGrey>Based on 151 reviews</HeadingSixLightGrey>
			<div class="absolute bottom-5 left-20 flex gap-2">
				<Link 
					href="/"
					aria_label="view all"
				> 
					<ButtonBlue> See all reviews </ButtonBlue>	
				</Link>
				<Link
					href="/"
					aria_label="review"
				>
					<ButtonBlue>
						review us on
						<div class="size-3 bg-white rounded-full">
							<Picture
								source="/icons/google-logo.svg"
								alternative_text="Google Icon"
							/>
						</div>
					</ButtonBlue>
				</Link>
			</div>
		</div>
	</div>
</div>
