---

//IMPORT ASTRO ATOMS
import ParagraphLgUppercaseWhite from "@/atoms-diksha/paragraphs/lg/uppercase/white/index.astro";

---

<button class="bg-color-accent py-3 px-6 uppercase hover:bg-opacity-80 delay-100 duration-150">
    <ParagraphLgUppercaseWhite>
        <slot/>
    </ParagraphLgUppercaseWhite>
</button>
