---

//IMPORT ASTRO ATOMS
import HeadingSixSmLightBlue from "@/atoms-diksha/headings/six/sm/light/blue/index.astro"
import HeadingSixSmLightGrey from "@/atoms-diksha/headings/six/sm/light/grey/index.astro"
import ParagraphSmLightSlate600 from "@/atoms-diksha/paragraphs/sm/light/slate-600/index.astro"
import Picture from "@/atoms/picture/internal/index.astro"

//CONSTANTS
const review = {
	image: "https://via.placeholder.com/56",
	name: "John Doe",
	rating: 4.9,
	date: "a year ago",
	review: "The Media Captain rocks! Jason, Brittany, and Hunter were all amazing to work with and so knowledgable on SEO. We've had some huge wins from their insights – like an influx of new leads generated for a location of ours after some tailored support. We feel like we got amazing value for our investment and highly recommend TMC team.P",	
	response:"Thank you for your time and support. We're glad you found our site helpful. We'll be sure to keep you in the loop about our latest updates and new features.Thank you for your time and support. We're glad you found our site helpful. We'll be sure to keep you in the loop about our latest updates and new features.Thank you for your time and support."
}

---

<div class="bg-color-lightGrey flex-none flex flex-col w-72 h-64 p-2 relative rounded">
	<div class="absolute top-2 right-2">
		<div class="size-3">
			<Picture 
				source="/icons/google-logo.svg" 
				alternative_text="Google Icon" 
			/>
		</div>
	</div>
	<div class="flex items-center p-2">
		<div class="size-14 rounded-full mr-2 overflow-hidden">
			<Picture 
				source={ review.image } 
				alternative_text="Avatar"
			/>
		</div>
		<div class="flex flex-col">
			<HeadingSixSmLightBlue>{ review.name }</HeadingSixSmLightBlue>
			<HeadingSixSmLightGrey>{ review.date }</HeadingSixSmLightGrey>
			<div class="flex items-center">
				{
					Array( Math.round( review.rating ) ).fill(0).map(() => (
						<div class="flex space-x-1">
							<span class="text-orange-400 material-symbols-rounded">star</span>
						</div>
					))
				}
			</div>
		</div>
	</div>
	<div class="overflow-scroll">
		<p class="font-geomanist_light text-lg">{ review.review }</p>
	</div>
	{
		review.response && 
		<div class="overflow-scroll max-h-20">
			<div class="border-l border-slate-500 pl-2 mt-1">
			<ParagraphSmLightSlate600>
				<span class="font-geomanist_book">Response from the owner:</span> 
				{ review.response }
			</ParagraphSmLightSlate600>
			</div>
		</div>
	}
</div>
