@font-face {

    font-family: 'Geomanist Bold';
    src: url('/fonts/Geomanist-Bold.ttf')

}

@font-face {

    font-family: 'Geomanist Book';
    src: url('/fonts/Geomanist-Book.ttf')

}

@font-face {

    font-family: 'Geomanist Light';
    src: url('/fonts/Geomanist-Light.ttf')

}

/* SUCCESS STORIES CARD STYLES */
.success_card {
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.success_card:hover {
    transform: rotateY(180deg);
}

.success_card_front, .success_card-back {
    backface-visibility: hidden;
}

.success_card-back {
    transform: rotateY(180deg);
}
