---

// IMPORT ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import ListitemGrayBorderGray from "@/atoms/atoms-nandini/list-items/gray/border-gray/index.astro"
import ParagraphWhiteUppercase from "@/atoms/atoms-nandini/paragraphs/white/uppercase/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

// GET ASTRO PROPS
const { data , title } = Astro.props

---
<section>
    <ParagraphWhiteUppercase>{ title }
        <span class="inline-block size-3 rotate-90">
            <PictureInternal
                alternative_text="Icon"
                source="/icons/triangle.svg"
            />
        </span>
    </ParagraphWhiteUppercase>
    <ul class="pt-5">
        {

            data.map( ( item ) => {

                return (
                    
                        <ListitemGrayBorderGray>
                            <Link
                                aria-label={ "explore " + item.data.title }
                                href={ item.data.link }
                            >
                                { item.data.title }
                            </Link>
                        </ListitemGrayBorderGray>

                )
            })
        }
    </ul>
</section>
