---

// IMPORT ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
// import ListitemSmallGray from "@/atoms/atoms-nandini/list-items/sm/gray/index.astro"
// import ParagraphMediumZinc from "@/atoms/atoms-nandini/paragraphs/medium/zinc/index.astro"

// GET ASTRO PROPS
const { data , title } = Astro.props

---
<section>
    <p class="text-white font-geomanist_bold uppercase">{ title }</p>
    <ul class="pt-5">
        {

            data.map( ( item ) => {

                return (
                    
                        <li class="text-gray-400 font-geomanist_book border-b-2 border-gray-800 py-6">
                            <Link
                                aria-label={ "explore " + item.data.title }
                                href={ item.data.link }
                            >
                                { item.data.title }
                            </Link>
                        </li>

                )
            })
        }
    </ul>
</section>
