---

// GET ASTRO PROPS
const { link, menuItem } = Astro.props;

---

<a href={link}>
    <p class="text-lg font-geomanist_light font-medium whitespace-nowrap hoverr:text-color-accent">
        { menuItem }
    </p>
</a>
