---

// IMPORT ASTRO ATOMS
import Anchor from "@/atoms-diksha/anchor/index.astro"

// GET ASTRO PROPS
const { 
    link, 
    menuItem 
} = Astro.props

---

<Anchor link={ link }>
    <p class="text-lg font-geomanist_light font-medium whitespace-nowrap hover:text-color-accent">
        { menuItem }
    </p>
</Anchor>
