---

// IMPORT ASTRO ATOMS
import ButtonCyan from "@/atoms/atoms-shiva/button/cyan/index.astro"
import HeadingsTwoThreeXl from "@/atoms/atoms-shiva/headings/two/three-xl/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphLg from "@/atoms/atoms-shiva/paragraphs/lg/index.astro"
import PictureCover from "@/atoms/picture/internal/index.astro"

// HARDCODED DATA
const data = {
    alternative_text: "",
    button_link: "/",
    button_text: "WORK WITH US",
    description_parts: [
        {
            link: null,
            text: "With a ",
        },
        {
            link: "/",
            text: "talented staff of 20 people",
        },
        {
            link: null,
            text: ", our team is big enough to confidently take on projects of any size. We’re also small enough that you get personalized attention and a team that genuinely cares about growing your business. We’re a ",
        },
        {
            link: "/",
            text: " family-owned and operated marketing agency.",
        },
        {
            link: null,
            text: "When you work with us, you get that family feel. We pride ourselves on transparency, communication, and proactiveness.",
        },
    ],
    source: "/images/differentiation.webp",
    title: "What Differentiates Our Ohio Based Marketing Agency",
}

---

<section class="bg-gray-100 py-12">
    <div class="grid gap-4 grid-cols-1 lg:grid-cols-2">
        <div class="p-4 w-full aspect-[3/2]">
            <PictureCover
                alternative_text={ data.alternative_text }
                source={ data.source }
            />
        </div>
        <div class="flex lg:items-center justify-center py-6 px-4 xl:pr-32">
            <div class="flex flex-col gap-4">
                <HeadingsTwoThreeXl>{ data.title }</HeadingsTwoThreeXl>
                <ParagraphLg>
                    {

                        data.description_parts.map(( part ) => 

                            part.link ? (

                                <Link href={ part.link }>
                                    <span class="text-orange-500 hover:text-cyan-700 duration-300">{ part.text }</span>
                                </Link>

                            ) : (

                                part.text

                            )

                        )

                    }
                </ParagraphLg>
                <Link href={ data.button_link }>
                    <ButtonCyan button_text={ data.button_text }/>
                </Link>
            </div>
        </div>
    </div>
</section>
