---

//IMPORT ASTRO ATOMS
import ParagraphLgUppercaseWhite from "@/atoms-diksha/paragraphs/lg/uppercase/white/index.astro"

---

<button class="bg-color-grey py-3 px-40 lg:px-32 xl:px-40 hover:bg-color-accent delay-100 duration-150">
	<ParagraphLgUppercaseWhite>
		<slot />
	</ParagraphLgUppercaseWhite>
</button>
