---

//IMPORT ASTRO ATOMS
import Paragraph12pxLightWhite from "@/atoms-diksha/paragraphs/12px/light/white/index.astro"

---

<button class="rounded-full bg-blue-600 px-2 py-1 flex gap-1 items-center">
    <Paragraph12pxLightWhite>
        <slot/>
    </Paragraph12pxLightWhite>
</button>
